body {
    background-color: #ffffff;
    font-family: 'Nunito sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

form {
    padding: none;
    margin: none;
}

ul {
    padding: 0;
    margin: 0;
}

footer{
    margin-top: 40px;
    color: #fff;
    background-color: #3b3b3b;
    text-align: center;
}

footer a{
    color: #fff;
}


form ul {
    list-style: none;
    padding: 0px;
}

#new_user {
    text-align: center;
}

#main_nav {
    background-color: #3b3b3b;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main_nav a {
    margin: 0;
    margin-left: 2%;
}

#main_nav a img {
    width: 45px;
    height: 45px;
}

.form_container {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.form_container #logo img {
    display: block;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.center_list{
text-align: center;
width: 600px;
margin-left: auto;
margin-right: auto;
}

.input_field {
    width: 95%;
    margin-bottom: 30px;
    margin-right: 0;
}

.input_field img{
    margin: 0px 10px;
    width: 4%;
    height:4%;
}

.input_field input {
    height: 45px;
    width: 470px;
    border: 0;
    border-bottom: 1.2px #ccc solid;
    font-family: 'Nunito sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    background: transparent;
    -webkit-transition: border 0.4s ease-in-out;
    transition: border 0.4s ease-in-out;
}

.input_field input:focus {
    outline: 0;
    border-bottom: 1.2px solid rgb(71, 212, 90);
}

#submit-button {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
}

input[type="submit"] {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    font-size: 1.8rem;
    background-color: rgb(71, 212, 90);
    color: #fff;
    margin-bottom: 20px;
    border: 0;
    -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

input[type="submit"]:hover {
    background-color: #3b3b3b;
    -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.highlight {
    color: #599999;
    font-size: 1.2rem;
    text-align: center;
}

.highlight:hover {
    color: #3d579e;
}

.forgotten_info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.forgotten_info ul {
    list-style: none;
    align-self: center;
}

.forgotten_info ul li {
    display: inline-block;
}

.forgotten_info ul li a:hover {
    color: #599999;
}

.vertical_line {
    height: 15px;
    width: 0px;
    border-right: 1px black solid;
}


/* For mobile responsiveness */
/* @media (max-width:500px){

    .form_container #logo img {
        width:250px;
        height:250px;
        margin-top: 30px;
        border-radius: 100%;
    }

    .vertical_line{
        visibility: hidden;
    }
} */