body{
    margin: 0;
    display: grid;
    grid-template-areas: 
    "sidebar content";
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    grid-auto-columns: 180px auto;
    grid-gap: 20px;
    min-width: 1150px;
    width: auto !important;
    width: 1000px;
}

aside{
    color: #fff;
    background-color:#3E3E3E;
    text-align: center;
    height: 100%;
    grid-area: sidebar;
    padding-top: 20%;
}

aside > img{
    width: 80px;
    border-radius: 100%;
    padding-bottom: 15px;
}

aside > ul{
    padding: 0;
    list-style: none;
}

aside > ul > li{
    padding: 8px 0px;
    width: auto;
}

aside > ul > li:nth-child(odd){
    background-color: #4D4D4D;
    border-top: #707070 solid 1px;
    border-bottom: #707070 solid 1px;
}

aside > ul > li > a{
    text-decoration: none;
    color: #fff;
}

main{
    grid-area: content;
    padding: 40px 20px;
}

textarea{
     resize:none;
 }

 textarea:focus,select:focus,input:focus{
    outline: none;
}

table {
    border: 1px solid #c2c2c2;
    border-spacing: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
 }
 

 thead th{
     height: 40px;
     padding: 5px;
     color: #515151;
 }

 tbody tr td{
     height: 30px;
     padding: 8px;
     border: none;
     padding-left: 30px;
 }

 thead th, tbody td{
    border: none;
    border-bottom: 1px #000 solid;
 }

tfoot td{
    border: none;
 }

 tfoot tr td{
     
     border-top: 1px solid #707070;
     padding: 12px 0px 10px 30px;
 }

 tfoot tr td a{
    color:#515151;
    text-decoration: none;
    font-weight: bold;
 }

 tfoot tr td a:hover{
     color:#72A8A8;
 }

 input[type=submit]{
     height: 40px;
     color: #fff;
     background-color: #616161;
     border: 0;
     width: 100%;
     font-size: 1.1em;
     font-weight: bold;
 }

 input[type=submit]:hover{
     background-color: #47D45A;
 }

 #Assignments tbody tr:nth-child(odd){
    background-color: #EBF1FF;
 }

 #Subjects tbody tr:nth-child(odd){
    background-color: #DDFFDC;
 }

 #Subjects{
    position: relative;
}


#Subjects tbody tr td img{
    width: 25px;
   position: absolute;
   right: 25px;
}

#TSubjects tbody tr:nth-child(odd){
    background-color: #DDFFDC;
 }

 #TSubjects{
     position: relative;
     margin-top: 2em;
 }

 #TSubjects tbody tr td img{
    width: 25px;
   position: absolute;
   right: 25px;
}

#Contacts{
    margin-top: 2.5em;
}

#Notices tbody tr:nth-child(odd){
    background-color: #FCFFAE;
}


#sidebar_name{
    font-size: 1.1em;
    font-weight: bold;
}

#Post-assignment table tr td{
    padding: 0px;
}

#Post-assignment input[type=datetime-local]{
    background-color: #616161;
    color: #fff;
    border: none;
    margin-left: 10px;
}

#Post-assignment input[type=text]{
    background-color: #616161;
    color: #fff;
    border: none;
    margin-left: 10px;
    width: 250px;
}

#Post-assignment select{
    border : none;
    margin-left: 15px;
}

#Post-notice table tbody tr td{
    padding:0;
}

#Post-notice input[type=text]{
    width: 210px;
    border: none;
    background-color: #81A9FF;
}

#Post-notice select{
    border : none;
    margin-left: 5px;
    font-weight: normal;
}

#Post-notice table tbody tr td{
    height: 50px;
    padding-left: 15px;
}

#Post-notice table tbody tr:nth-child(odd){
    background-color: #81A9FF;
    color: #fff;
    font-weight: bold;
}

#Description{
    height: 200px;
}

#Description textarea{
    display: block;
    width: 95%;
    padding:10px 0 0 0;
    height: 90%;
    border: 0;
    margin: auto;
    overflow: auto;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2.5em;
}

.date{
    font-weight: bold;
    color:#CF0000;
}

.row{
    padding-top: 10px;
    padding-left: 15px;
    height: 30px;
    text-align: left;
}

.row:nth-child(odd){
    background-color: #616161;
    border: 1px solid #707070;
    color: #fff;
    font-weight: 550;
}

.row:nth-child(4){
    padding: 0;
}