body{
    margin: 0;
    display: grid;
    grid-template-areas: 
    "sidebar content";
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    grid-auto-columns: 180px auto;
    grid-gap: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 1em;
}

#sidebar_name{
    font-size: 1.1em;
    font-weight: bold;
}

aside{
    color: #fff;
    background-color:#3E3E3E;
    text-align: center;
    margin-bottom: 20px;
    height: 100%;
    grid-area: sidebar;
    padding-top: 20%;
}

aside > img{
    width: 80px;
    border-radius: 100%;
    padding-bottom: 15px;
}

aside > ul{
    padding: 0;
    list-style: none;
}

aside > ul > li{
    padding: 8px 0px;
    width: auto;
}

aside > ul > li:nth-child(odd){
    background-color: #4D4D4D;
    border-top: #707070 solid 1px;
    border-bottom: #707070 solid 1px;
}

aside > ul > li > a{
    text-decoration: none;
    color: #fff;
}

main{
    grid-area: content;
    padding-right: 20px;
    padding-top: 40px;
}

table {
    width: 100%;
 }

 #Contacts thead th, #Contacts tbody td{
    border: none;
    border-bottom: 1px #000 solid;
 }

 #Contacts tfoot td{
    border: none;
    border-bottom: 1px #000 solid;
 }